<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Pollos Hermanados</title>
<!--<link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/> -->
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>
	<nav>
		<h1>Pollos Hermanados</h1>
		<ul>
			<li><a href="/app/">Home</a></li>
			<li><a href="/app/productos">Productos</a></li>
			<li><a href="/app/productos/estadisticas">Estadísticas de Productos</a></li>
			<li><a href="/app/pedidos">Pedidos</a></li>
			<li><a href="/app/categorias">Categorías</a></li>
			<li><a href="/app/alta-categoria">Alta Categoria</a></li>
		</ul> 
	</nav>
	<hr>
	<h2>Bienvenidos a Pollos Hermanados!</h2>
	<p>Suspendisse cursus posuere sem sit amet fermentum. Curabitur rutrum tempus ultricies. Vivamus accumsan erat ex, non consequat mauris facilisis et. Donec accumsan dignissim scelerisque. Donec aliquet maximus mauris, feugiat commodo nisi suscipit quis. Suspendisse nec odio ut elit venenatis placerat ut vel purus. Nulla sit amet eleifend nisi. Aliquam in pretium erat, id luctus turpis. Sed rutrum arcu in ligula bibendum, ut interdum sem maximus. Sed in orci facilisis justo euismod tincidunt. Vivamus ac rutrum neque, non tristique nunc. Ut laoreet ipsum sit amet nibh venenatis dapibus. Maecenas facilisis molestie massa, nec pharetra diam lacinia nec.</p>
	<p>Nullam semper eros hendrerit dolor elementum, id pulvinar mi egestas. Aliquam erat volutpat. Sed ut elit malesuada, interdum quam in, interdum magna. Morbi rhoncus ornare nibh, non iaculis enim imperdiet nec. Suspendisse est arcu, eleifend ac libero sed, interdum eleifend velit.</p>
	        
<!--<script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script> -->
</body>
</html>